a {
color: rgb(9, 84, 196);
}

li:hover {
    background-color: rgb(122, 212, 240);
  }
a.hover{
    color: rgba(185, 183, 183, 0.966);
}  
img.small{
    max-width:50%; 
    height:50%
}  
div.p1 {
    color: rgba(211, 139, 7, 0.37);
}

div.p2 {
    color: rgb(255, 166, 0);
}

div.p3 {
    color: rgb(255, 94, 0);
}

span.cities{
    color: #1815ca;
}
span.Food{
color: rgb(201, 131, 248);
}
span.TX{
    color: rgb(6, 105, 19);
}
span.India{
    color: rgb(230, 73, 11);
}
span.CA{
    color: rgb(4, 4, 92);
}
@media only screen and (max-width: 750px) {
    body {
      background-color: rgb(191, 230, 243);
    }
  }
